@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

:root {
    --main-color: #11b981;
    --bg-box-color: #fde24f;
    --bg-box-color-2: #CFBAFF;
    --text-color-1: #1c1a23;
    --text-color-2: #111014;
    --border: .1rem solid rgba(0, 0, 0, .3);
    --bg-color-1: #ffff;
    --bg-color-2: #edf3ec;
    --line-color-1: rgba(0, 0, 0, .2);
    --box-shadow-2: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
}

body {
    background-color: #fff5f5;
}


html {
    font-size: 68.8%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 6rem !important;

    ::-webkit-scrollbar {
        width: 1rem;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--text-color-2);
        border-radius: 5rem;
    }

}

section {
    padding: 3rem 7%;
}

.btn {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--bg-color-2);
    font-weight: 500;
    padding: .8rem 1.7rem;
    border-radius: .5rem;
    background: var(--text-color-1);
    letter-spacing: .1rem;
    /* box-shadow: var(--box-shadow-2); */
    cursor: pointer;
    border-radius: 5rem;
}

.btn:hover {
    color: var(--main-color);
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 6% 1.5rem 6%;
    background-color: var(--bg-color-2);
    box-shadow: var(--box-shadow-2);
    z-index: 1200 !important;

    & .logo {
        font-size: 2.5rem;
        color: var(--text-color-2);
        font-weight: 600;
        cursor: pointer;
    }


    & .navbar {
        & a {
            color: var(--text-color-2);
            font-weight: 500;
            margin: 0 1.3rem;
            font-size: 1.7rem;
            position: relative;
        }

        & a::before {
            content: '';
            display: block;
            position: absolute;
            background-color: var(--main-color);
            height: 1px;
            width: 0;
            bottom: -.3rem;
            left: 0;
            transition: .3s linear;
        }

        & a:hover::before {
            width: 100%;
        }

        & a:hover {
            color: var(--main-color);
        }
    }

    & .icons {
        display: flex;
        align-items: center;

        & div {
            cursor: pointer;
            font-size: 1.7rem;
            margin-left: 1.5rem;
            color: var(--text-color-2);
        }

        & div:hover {
            color: var(--main-color) !important;
        }

        & .btn {
            margin-bottom: 1rem;
        }


        & #user_btn {
            margin-right: 1rem;
            font-size: 1.7rem;
            color: var(--text-color-2);
            font-weight: 600;
        }

        & #bars_btn {
            display: none;
        }

        & #global, & #bg_btn {
            font-size: 2rem;
        }
    }




    & .btn {
        display: block;
        margin-top: 1rem;
        width: 100%;
        cursor: pointer;

    }

    & p {
        font-size: 1.5rem;
        color: var(--text-color-2);
        font-weight: 500;
        padding: 1rem 0 1.5rem;

        & a {
            color: var(--main-color);
            text-decoration: underline;
        }
    }


}








/* ---------------home section------------ */

.home {
    background: url(../image/home_1.png) no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 9rem 0 !important;
    min-height: 70.5vh !important;
    display: grid !important;
    place-items: center !important;

    & .content-box {
        padding: 2rem;
        width: 65%;
        margin: 0 auto;
        text-align: center;
        background-color: var(--bg-color-2);
        border-radius: .3rem;
        padding: 3rem 5rem;

        & h4 {
            font-size: 7vh;
            padding-bottom: 3rem;
            color: var(--text-color-1);
        }

        & .items-box {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-bottom: 1.7rem;

            & .box {
                flex: 1 1 15rem;
                background-color: var(--bg-color-2);
                border: var(--border);
                border-radius: .3rem;
                overflow: hidden;
                position: relative;



                & select {
                    font-size: 1.5rem;
                    font-weight: 600;
                    width: 100%;
                    background-color: transparent;
                    padding: 1rem .5rem;
                    color: var(--text-color-2);

                    & option {
                        color: #1c1a23 !important;
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }
            }
        }

        & .button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            & .btn:nth-child(1) {
                background-color: transparent;
                color: var(--text-color-2);
                border: var(--border);
                border-radius: .5rem;
                width: 70%;
            }

            & .btn:nth-child(2) {
                width: 35%;
                background-color: #00EBC7;
                color: #1c1a23;
                font-weight: 600;
                border-radius: 1.8rem;
            }
        }

    }

    & .btn-1 {
        width: 20rem;
        text-align: center;
        margin: 0 auto;
        font-size: 1.7rem;
        font-weight: 500;
        color: #fff5f5;
        border: .2rem solid #fff5f5;
        text-decoration: underline;
        padding: .7rem 1.7rem;
        border-radius: 1.8rem;
        margin-top: 6rem;
    }
}

/* ------buy sell----------- */

.buy-sell {
    background-color: var(--bg-box-color);
    padding: 5rem 0;

    & h2 {
        text-align: center;
        font-size: 2.2rem;
        color: #111014;
        font-weight: 500;
        margin-bottom: 3rem;
    }

    & .img-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        align-items: center;
        justify-content: center;

        & div {
            text-align: center;

            & img {

                object-fit: contain;
            }

            & img:hover {
                filter: invert();
            }
        }

    }


}


/* --------swiper-slider-------- */

.feature {

    /* padding: 1rem; */
    background-color: var(--bg-color-1);

    & .headding {

        text-align: left;
        font-size: 2.2rem;
        color: var(--text-color-1);
        font-weight: 500;
        margin-bottom: 1rem;
        padding-top: 2rem;
        padding-bottom: 1rem;


    }

    & .border {
        border-bottom: var(--border);
        padding-top: 5rem;
        width: 80%;
        margin: 0 auto;
    }




    & .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        column-gap: 120px;
        row-gap: 30px;
        align-items: center;
        justify-content: center;
        margin-top: -2rem;

        & .slide {
            text-align: center;
            box-shadow: var(--box-shadow-2);

            border: var(--border);
            background-color: var(--bg-color-1);
            padding: .5rem;
            border-radius: .5rem;


            & img {
                width: 6rem;
                height: 6rem;
                object-fit: contain;
            }

            & h3 {
                font-size: 1.8rem;
                padding: 1rem 0;
                font-weight: 500;
                color: var(--text-color-1);
            }

            & p {
                color: var(--text-color-2);
                max-width: 25rem;
                margin: 0 auto;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 24.5px;
                padding-bottom: 2.9rem;

            }

            & a {
                font-size: 1rem;
                color: var(--text-color-1);
                font-weight: 600;
                text-decoration: underline;

            }

        }
    }





    & .btn {
        width: 223px;
        margin: 0 auto !important;
        display: block;
        text-align: center;
        margin-top: 1.5rem;
        background-color: var(--bg-color-1);
        color: var(--text-color-2);
        border: var(--border);
    }
}


/* ------------sell-2 section--------- */

.sell_2 {
    padding: 0 7%;
    background-color: var(--bg-color-1);

    .box-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-top: var(--border);

        & .box:nth-child(1) {
            border-left: none !important;
        }

        & .box:nth-child(2) {
            border-right: none !important;
        }

        & .box {
            flex: 1 1 41rem;
            padding: 4.7rem 4.5rem;
            border: var(--border);
            border-bottom: none;


            & h2 {
                text-align: left;
                font-size: 2rem;
                color: var(--text-color-1);
                font-weight: 500;
                padding-bottom: .7rem;
            }

            & .text-box {
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 1.5rem;
                margin-top: 2.1rem;
                border: var(--border);
                padding: .7rem 0;
                padding-right: 2rem;
                border-radius: 1rem;

                & .img {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1.5rem;
                    color: var(--text-color-2);
                    font-weight: 500;
                }

                & div p {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: var(--text-color-2);

                }
            }

            & .btn {
                margin: 0 auto;
                text-align: center;
                width: 223px;
                display: block;
                margin-top: 2.7rem;
            }
        }
    }

}

/* -------------text-section--- */

.text-bold {
    background-color: var(--bg-box-color-2);
    text-align: center;
    padding: 4rem 5rem;
    border-top: var(--border);

    & h1 {

        max-width: 84rem;
        margin: 0 auto;
        font-size: 4.5rem;
        font-weight: 500;
        color: #111014;
        margin-top: 2rem;
    }

    & .btn {
        margin: 0 auto;
        text-align: center;
        width: 223px;
        display: block;
        margin-top: 5rem;
    }
}


/* ---footer-section--- */
.fotter {
    background-color: #111014;
    color: var(--text-color-2);

    & .fotter-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;
        align-items: flex-start;
        padding: 4rem 0;
        justify-content: center;


        & .box {
            & h2 {

                color: #fff5f5;
                font-size: 2rem;
                font-weight: 600;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
            }

            & a {
                display: block;
                padding-top: .7rem;
                color: #edf3ec;
                font-weight: 600;
                font-size: 1.5rem;
            }
        }
    }

    & .creator {
        border-top: .2rem solid #fff5f5;
        text-align: center;
        padding: 2.3rem;

        & p {
            color: #edf3ec;
            font-weight: 500;
            line-height: 15.7px;
        }

    }

}









































@media (max-width:991px) {
    html {
        font-size: 55%;

    }

    section {
        padding: 2rem 6%;
    }
}


@media (max-width:768px) {

    html {
        font-size: 50%;
    }

    section {
        padding: 3rem 2rem;
    }

    header {
        padding: 1.5rem 6%;
        & .navbar{
            position: absolute;
            top: 101%;
            background-color: var(--bg-color-1);
            right: 0;
            left: 0;
            text-align: center;
            padding: .8rem 0;
            border-top:var(--border) ;

        }

        & #bars_btn {
            display: block !important;
        }

    }

    .fotter {
        background-color: #111014;
        color: var(--text-color-2);

        & .fotter-container {
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));

        }
    }

    .home {

        min-height: 45vh !important;

        & .content-box {
            width: 90%;

            & h4 {
                font-size: 4.5rem;
            }
        }



    }

    .text-bold {


        & h1 {


            font-size: 2.7rem;

        }

    }

    .feature{
        & .box-container{
            column-gap: 50px;
        }
    }
    

}

@media (max-width:450px) {

    html {
        font-size: 42%;
    }

    section {
        padding: 3rem 2rem;
    }

    header {
        padding: 1.5rem 6%;




    }

    .text-bold {


        & h1 {


            font-size: 2rem;

        }

    }

    .home {
        min-height: 25vh !important;

        .content-box {
            width: 90%;

            & h4 {
                font-size: 3rem;
            }

            & .items-box {
                & .box {
                    flex: 1 1 18rem;
                }
            }
        }
    }

    .feature {
        & .btn {
            width: 35% !important;
        }
    }

    .sell_2 {
        & .img img {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
        }

        & .btn {
            width: 55% !important;
        }
    }

    .text-bold {
        & .btn-2 {
            width: 45% !important;
        }
    }

    .fotter {

        & .fotter-container {
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

        }
    }

}

@media (max-width:250) {
    html {
        font-size: 30%;
    }

    section {
        padding: 2rem 1.5rem;
    }
}